.button {
    color: #fff;
    background-color: #fa7c30;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.4px;
    margin: 5px 5px;
    padding: 9px 27px;
    text-transform: uppercase;
}