.button {
    color: #fff;
    background-color: #fa7c30;
    border: 1px solid #fa7c30;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.4px;
    margin: 5px 5px;
    padding: 8px 26px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:hover, &:focus, &:active {
        background-color: #fff;
        color:  #fa7c30;
    }
}