doctype html
html
    head
        meta(charset="utf-8")
        title Fitness
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700")
        link(rel="stylesheet" type="text/css" href="css/main.min.css")
    body