@import "partial/_normalize";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
    background-color: #f1f4f6;
    color: #161418;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

@import "partial/_sprite";
@include retina-sprites($retina-groups);

@import "partial/_highlight";
@import "partial/_button";

@import "partial/_promo";
@import "partial/_header";
@import "partial/_order";
@import "partial/_about";
@import "partial/_sections";
@import "partial/_personal-trainer";
@import "partial/_team";
@import "partial/_contact";
@import "partial/_footer";
