section.contact#contact
    .contact__content.contact__content_left
        p.contact__subtitle tru for free
        h2.contact__title free 5 days pass
        button.button(type="button") Get in touch
    .contact__content.contact__content_right
        p.contact__subtitle call us and tru
        h2.contact__title 957 547 4545
        button.button(type="button") Get in touch

