footer.footer#footer
    .footer__main
        .footer__info
            .footer__logo Fitne
                span.highlight SS
            p.footer__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .social
                .social__title Follow Us:
                ul.social__list
                    li.social__item
                        a.social__link(href="#") Facebook
                            i.social__icon.fab.fa-facebook-f
                    li.social__item
                        a.social__link(href="#") Twitter
                            i.social__icon.fab.fa-twitter
                    li.social__item
                        a.social__link(href="#") Instagram
                            i.social__icon.fab.fa-instagram
                    li.social__item
                        a.social__link(href="#") Pinterest
                            i.social__icon.fab.fa-pinterest-p
                    li.social__item
                        a.social__link(href="#") Google Plus
                            i.social__icon.fab.fa-google-plus-g
                    li.social__item
                        a.social__link(href="#") YouTube
                            i.social__icon.fab.fa-youtube
                    li.social__item
                        a.social__link(href="#") Dribbble
                            i.social__icon.fab.fa-dribbble
                    li.social__item
                        a.social__link(href="#") Tumblr
                            i.social__icon.fab.fa-tumblr
            form.subscribe
                input.subscribe__input(type="email" name="email" placeholder="Your Email...")
                button.subscribe__submit(type="submit") Subscribe
        .footer__blog
            h3.footer__title
                a.footer__link(href="#") Blogs
            .blog
                .blog-card
                    a.blog-card__img-link(href="#")
                        img.blog-card__img(src="img/blog-photo-1.png" alt="Blog photo")
                    .blog-card__desc
                        a.blog-card__link(href="#") Lorem ipsum dolor sit amet,  consectetur adipiscing
                .blog-card
                    a.blog-card__img-link(href="#")
                        img.blog-card__img(src="img/blog-photo-2.png" alt="Blog photo")
                    .blog-card__desc
                        a.blog-card__link(href="#") Consectetur adipiscing elit,  sed do eiusmod tempor
                .blog-card
                    a.blog-card__img-link(href="#")
                        img.blog-card__img(src="img/blog-photo-3.png" alt="Blog photo")
                    .blog-card__desc
                        a.blog-card__link(href="#") Sed do eiusmod tempor  incididunt ut labore
        .footer__instagram
            h3.footer__title
                a.footer__link(href="#") Instagram
            .albom
                a.albom__link(href="#")
                    img.albom__img(src="img/instagram-photo-1.png" alt="Instagram photo")
                a.albom__link(href="#")
                    img.albom__img(src="img/instagram-photo-2.png" alt="Instagram photo")
                a.albom__link(href="#")
                    img.albom__img(src="img/instagram-photo-3.png" alt="Instagram photo")
                a.albom__link(href="#")
                    img.albom__img(src="img/instagram-photo-4.png" alt="Instagram photo")
                a.albom__link(href="#")
                    img.albom__img(src="img/instagram-photo-5.png" alt="Instagram photo")
                a.albom__link(href="#")
                    img.albom__img(src="img/instagram-photo-6.png" alt="Instagram photo")
                a.albom__link(href="#")
                    img.albom__img(src="img/instagram-photo-7.png" alt="Instagram photo")
                a.albom__link(href="#")
                    img.albom__img(src="img/instagram-photo-8.png" alt="Instagram photo")
                a.albom__link(href="#")
                    img.albom__img(src="img/instagram-photo-9.png" alt="Instagram photo")
            a.footer__more.footer__link(href="#") View more photos
    .footer__footer &copy; 2018 Fitness
