header.header#header
    .header__left
        .logo FITNE
            span.highlight SS
        nav.menu
            ul.menu__list
                li.menu__item
                    a.menu__link(href="#") Home
                li.menu__item
                    a.menu__link(href="#") About Us
                li.menu__item
                    a.menu__link(href="#") Page
                li.menu__item
                    a.menu__link(href="#") Blog
                li.menu__item
                    a.menu__link(href="#") Contacts
    .header__right
        .login
            a.login__link(href="#") Login
            a.login__link(href="#") Sing up
        button.choose Choose plan
