section.personal-trainer#personal-trainer
    .personal-trainer__content
        p.personal-trainer__subtitle We trained with
        h2.personal-trainer__title Personal trainer
        button.button(type="button") Get in touch
