section.promo#promo
    include ./header.pug
    .promo__container
        h1.promo__title Make your body
            span.highlight  beautiful
        p.promo__subtitle Lorem ipsum dolor sit amet, consectetur
        button.button Get in touch
