section.sections#sections
    .sections__content
        h2.sections__title Welcome to
                span.highlight  Fitness
        p.sections__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        .sections__cards
            .section-card
                img.section-card__img(src="img/sections-crossfit.png" alt="Crossfit")
                .section-card__content
                    h3.section-card__title Basic crossfit
                    .section-card__desc
                        p.section-card__text Our staff includes amazing professionals that have an eye for crossfit.
                    button.button(type="button") Get in touch
            .section-card
                img.section-card__img(src="img/sections-fitness.png" alt="Fitness")
                .section-card__content
                    h3.section-card__title Fitness studio
                    .section-card__desc
                        p.section-card__text Work out in fitness groups or with a personal certified trainer in our gym center.
                    button.button(type="button") Get in touch
            .section-card
                img.section-card__img(src="img/sections-yoga.png" alt="Yoga")
                .section-card__content
                    h3.section-card__title Yoga Classes
                    .section-card__desc
                        p.section-card__text What do you think about yoga? If you have a passion for this activity, we’ve got a special program.
                    button.button(type="button") Get in touch
