section.team#team
    .team__content
        h2.team__title Expert
                span.highlight  Trainers
        p.team__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        .team__cards
            .team-card
                a.team-card__img-link(href="#")
                    img.team-card__img(src="img/team-Sarra.png" alt="Sarra" srcset="img/team-Sarra.png 292w, img/team-Sarra@0.75x.png 219w" sizes="(max-width: 768px) 219px, 292px")
                .team-card__content
                    h3.team-card__title
                        a.team-card__name-link(href="#") Sarra Miller
                    p.team-card__subtitle Spinning trainer
                    .team-card__desc
                        p.team-card__text Our staff includes amazing professionals that have an eye for crossfit.
            .team-card
                a.team-card__img-link(href="#")
                    img.team-card__img(src="img/team-John.png" alt="John" srcset="img/team-John.png 316w, img/team-John@0.75x.png 237w" sizes="(max-width: 768px) 237px, 316px")
                .team-card__content
                    h3.team-card__title
                        a.team-card__name-link(href="#") John Doe
                    p.team-card__subtitle Bootcamp trainer
                    .team-card__desc
                        p.team-card__text Our staff includes amazing professionals that have an eye for crossfit.
            .team-card
                a.team-card__img-link(href="#")
                    img.team-card__img(src="img/team-Man.png" alt="Man" srcset="img/team-Man.png 340w, img/team-Man@0.75x.png 255w" sizes="(max-width: 768px) 255px, 340px")
                .team-card__content
                    h3.team-card__title
                        a.team-card__name-link(href="#") John Doe
                    p.team-card__subtitle Bootcamp trainer
                    .team-card__desc
                        p.team-card__text Our staff includes amazing professionals that have an eye for crossfit.
